// Importation des fichiers SCSS
@import "./composants/_header.scss";
@import "./composants/_hero.scss";

//Style spécifique général

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}
