.features {
  background-color: #111;
  color: #fff;
  padding: 50px 20px;
  text-align: center;

  h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    background: linear-gradient(135deg, #6a00f4, #f000f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
  }

  .feature {
    margin-bottom: 30px;

    h3 {
      font-family: "Bebas Neue", sans-serif;
      font-size: 2rem;
      background: linear-gradient(135deg, #6a00f4, #f000f4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 10px;
    }

    p {
      font-family: "Roboto", sans-serif;
      color: #ccc;
    }
  }
}
